{% extends "madlibs/navbar.html" %}
{% block body %}
<div class="container">
    <hr />
    <div>
        <p>
            {{ item }}
        </p>
    </div>
    <hr />
    <div>
        <h4>
            Enter your words in the text box below, seperated by "#"
        </h4>
        <p>
            it#should#look#like#this
        </p>
    </div>
    <div>
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>
{% endblock %}